.chart {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph {
  width: 50vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.legend {
  margin-top: 2rem;
}

.chart-legend {
  display: flex;

  &__item {
    padding: 1rem;
    border-radius: 1rem;
    width: 10rem;
    border-bottom-left-radius: 0;
    margin-bottom: 1rem;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}
